/* Universal Styles */
body {
  background-color: white;
  font-family: helvetica, sans-serif;
}
.dark{
font-size: 32px;
color: #414544;
font-weight: 700;
}
.light{
  font-size: 32px;
  color: #959c9a;
  font-weight: 500;
}

.logo {
  display: flex;
  align-items: center;
}