/* Universal Styles */
body {
  background-color: white;
  font-family: helvetica, sans-serif;
}
.dark{
font-size: 32px;
color: #414544;
font-weight: 700;
}
.light{
  font-size: 32px;
  color: #959c9a;
  font-weight: 500;
}

header {
  padding: 1rem 1.5rem;
}

header .desktop {
  display: flex;
  align-items: center;
}

header .logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

header .logo img {
  margin-right: .5rem;
}

header li {
  display: inline;
  padding-right: 1rem;
}

header li:last-child {
  padding-right: 0;
}